<h1 class="mat-display-1;" style="text-align: center;  margin-top: 1%;">Requirements</h1>
<mat-divider></mat-divider>
<br><br>
<app-table style="font-size:2px;" [dataSource]="requirements.content" [columnsToDisplay]="['Usage/Characteristic', 'Attribute', 'Value', 'delete']" 
    [columnsToIterate]="['usageOrChar', 'attribute', 'value']" (Delete)="onDelete($event)" ></app-table>

    <app-pagination [pageSize]="pageSize"
                [totalItems]="requirements.totalElements"
                [totalPages]="requirements.totalPages"
                [currentPage]="requirements.number"
                (ChangePage)="onPagination($event)"
    ></app-pagination>