mat-form-field {
  width: 50%;
}

::ng-deep .mat-tooltip {
  font-size: 14px !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: unset;
}

::ng-deep .mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: #69F0AE;
}
