<mat-toolbar color="primary">

    <a routerLink="/">
        <mat-icon [ngStyle]="{'color':'white'}">
            star_rate
        </mat-icon>
    </a>
    <span style="padding-left: 0.5%; font-size: medium;">Recommendation and Troubleshooting</span>
    <a routerLink="/" style="padding-left: 0.5%;">
        <mat-icon [ngStyle]="{'color':'white'}">
            bug_report
        </mat-icon>
    </a>


    <span class="example-spacer" style="width: 75%"></span>
    <a routerLink="/" style="margin-left: 5%;">
        <button mat-flat-button color="primary">
            <mat-icon [ngStyle]="{'color':'white'}">
                login
            </mat-icon>
        </button>
    </a>
</mat-toolbar>